* {
  box-sizing: border-box;
  }

body {
    color: rgb(36, 34, 34);
    font-family: Helvetica, Arial, sans-serif;
  }

header {
    padding: 30px 0px;
    background-color: rgb(39, 37, 37);
    display: flex;
    justify-content: space-between;
  }

header h1   {
    font-size: 40px;
    color: #024e76;
    display: flex;
    padding: 10px 30px 10px 50px;
    align-items: center;
    justify-content: center;
    background-color: grey;
  }

header a {
    text-decoration: none;
    color: #5a65c9;
  }
  
header nav {
    float: right;
    margin: 7px 0;
    width: 700px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header nav ul {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
header nav ul li {
    display: inline ;
    height: 225px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
  }
  
header nav ul li a {
    margin: 0 30px;
    font-size: 22px;
  }
  
footer {
    background: white;
    width: 100%;
    padding: 20px 16px;
    text-decoration: none;
  }

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    border-right: solid 3px #024e76;
    padding: 10px 10px 10px 10px;
  }
  
footer nav {
    float: right;
    margin: 7px 0;
    font-size: 20px;
  }

footer nav ul li {
    display: inline;
  }
  
footer nav ul li a {
    margin: 0 30px;
    font-size: 22px;
  }
  
.hero {
    background-image: url("../images/generic+banner.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: #024e76 solid 3px;
  }

.hero img {
    width: 18%;
  }
  
.hero h2 {
    float:right;
  }


.intro {
    text-align: center;
    color: #024e76;
    font-size: 30px;
  }

.intro p {
    border-top: #024e76 solid 3px;
    justify-content: center;
    display: flex;
  }

section {
    padding: 90px;
  }

.work h2 {
    display: flex;
    color: #024e76;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    border-bottom: #024e76 solid 3px;
  }

.work-1 {
    background-image: url("../images/hero-bg.jpeg");
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    border: #024e76 5px solid;
    padding: 10px 10px;
  }

  .work-1 h3 {
    font: black;
  }

.work-1, .work-2, .work-3, .work-4, .work-5 h3, p {
    color: #024e76;
   }

   .work-2 {
    background-image: url("../images/node.jpeg");
    height: 200px;
    background-size: cover;
    background-position: right;
    position: relative;
    width: 50%;
    float: right ;
    border: #024e76 5px solid;
  
  }

.work-3 {
    background-image: url("../images/calculator.jpeg");
    height: 200px;
    background-size: cover;
    background-position: left;
    position: relative;
    width: 50%;
    border: #024e76 5px solid;
  }

.work-4 {
    background-image: url("../images/puzzel.jpeg");
    height: 200px;
    background-size: cover;
    background-position: right;
    position: relative;
    float: right ;
    width: 50%;
    border: #024e76 5px solid;
  }

.work-5 {
    background-image: url("../images/download.png");
    height: 200px;
    background-size: cover;
    background-position: left;
    position: relative;
    width: 50%;
    border: #024e76 3px solid;
  }

article {
  padding: 45px;
}

@media screen and (max-width: 980px) {

}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 575px) {

}